nb-soap-client/src/wsdl/localhost_8080/nb-soap-service/AnimalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.soap.saartako.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.soap.saartako.org/" name="AnimalService">
<types>
<xsd:schema>
<xsd:import namespace="http://example.soap.saartako.org/" schemaLocation="http://localhost:8080/nb-soap-service/AnimalService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllAnimals">
<part name="parameters" element="tns:getAllAnimals"/>
</message>
<message name="getAllAnimalsResponse">
<part name="parameters" element="tns:getAllAnimalsResponse"/>
</message>
<message name="getAnimalsOfType">
<part name="parameters" element="tns:getAnimalsOfType"/>
</message>
<message name="getAnimalsOfTypeResponse">
<part name="parameters" element="tns:getAnimalsOfTypeResponse"/>
</message>
<message name="getAnimal">
<part name="parameters" element="tns:getAnimal"/>
</message>
<message name="getAnimalResponse">
<part name="parameters" element="tns:getAnimalResponse"/>
</message>
<portType name="AnimalService">
<operation name="getAllAnimals">
<input wsam:Action="http://example.soap.saartako.org/AnimalService/getAllAnimalsRequest" message="tns:getAllAnimals"/>
<output wsam:Action="http://example.soap.saartako.org/AnimalService/getAllAnimalsResponse" message="tns:getAllAnimalsResponse"/>
</operation>
<operation name="getAnimalsOfType">
<input wsam:Action="http://example.soap.saartako.org/AnimalService/getAnimalsOfTypeRequest" message="tns:getAnimalsOfType"/>
<output wsam:Action="http://example.soap.saartako.org/AnimalService/getAnimalsOfTypeResponse" message="tns:getAnimalsOfTypeResponse"/>
</operation>
<operation name="getAnimal">
<input wsam:Action="http://example.soap.saartako.org/AnimalService/getAnimalRequest" message="tns:getAnimal"/>
<output wsam:Action="http://example.soap.saartako.org/AnimalService/getAnimalResponse" message="tns:getAnimalResponse"/>
</operation>
</portType>
<binding name="AnimalServicePortBinding" type="tns:AnimalService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllAnimals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnimalsOfType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnimalService">
<port name="AnimalServicePort" binding="tns:AnimalServicePortBinding">
<soap:address location="http://localhost:8080/nb-soap-service/AnimalService"/>
</port>
</service>
</definitions>